$white: #fff;

$red: #da3843;
$darker-red: #b7232e;

$lightest-grey: #f7f7f7;
$light-grey: #e4e4e4;
$grey: #BBBBBB;
$dark-grey: #343434;
$darkest-grey: #333333;


$ocean-blue: #237b98;
$ocean-blue-border: #1c627a;
$darker-ocean-blue: #1D627A;


$green: #55b68d;

