$white: #fff;

$red: #da3743;
$darker-red: #b7232e;

$lightest-grey: #f7f7f7;
$light-grey: #e4e4e4;
$grey: #BBBBBB;
$dark-grey: #343434;

$font-grey: #999999;
$darker-grey: #666666;
$darkest-grey: #333333;

$lightest-blue:#60B2D0;
$lighter-ocean-blue: #247F93;
$ocean-blue: #237b98;
$ocean-blue-border: #1c627a;
$darker-ocean-blue: #1D627A;


$green: #55b68d;

$pink: #D8327A;
$magenta: #B94BAD;