.review-form-container.hidden {
    display: none;
}

.review-item-container-user.hidden {
    display: none;
}

.review-item-container-other, .review-item-container-user, .review-form-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px $light-grey;
    color: #2d333f;

    display: flex;
    flex-direction: row;
    width: 100%;

    .review-item-left.review-form {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .review-item-left {
        margin-right: 1rem;
        margin-left: 1rem;
        width: 6rem;
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;

        flex: none;

        .review-user-initials-container.review-form {
            margin-bottom: 1rem;
        }

        .review-user-initials-container {
            display: flex;
            justify-content: center;
            margin-bottom: 0.5rem;

            .review-user-initials-circle {
                background: $magenta;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                .review-user-initials {
                    color: $white;
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }
        }

        // .review-user-username-container.review-form {

        // }

        .review-user-username-container {
            font-weight: 500;
            font-size: 0.875rem;
            text-align: center;
            margin-bottom: 0.25rem;
            color: #2d333f;
            word-break: break-word;   
        }

        .review-user-reviewscount-container {
            display: flex;
            flex-direction: row;
            font-size: 10px;
            font-weight: bold;
            line-height: 1.43;
            flex: none;
            white-space: nowrap;
            color: $darker-grey;

            svg {
                height: 12px;
                width: 12px;
                flex: none;
                margin-right: 0.25rem;
            }
        }

    }

    .review-item-right {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .review-item-right-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: $light-grey;
        border-radius: 5px;
        padding: 1rem;
    }

}

.review-ratings-container {
    display: flex;
    justify-content: flex-start;
    // align-items: center;
    font-size: 0.875rem;
    font-weight: 500;

    .review-ratings {
        height: 16px;
        line-height: 1.43;

        .review-ratings-gold {
            color: $red;
        }

        .review-ratings-blank {
            color: $grey;
        }
    }

    .review-created-date, .review-updated-date {
        font-size: 0.875rem;
        line-height: 1.43;

        span {
            margin: 0 0.25rem;

            &:before {
                content: "⋅";
                padding-right: 0.5rem;
            }
        }
    }
}

.review-comment-container {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    max-height: calc(3rem * 1.5);

    .review-comment {
        margin-bottom: 0;
        margin-top: 0;
        line-height: 1.5;
        font-size: 1rem;
        font-weight: normal;
    }
}

.review-actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .review-action {
        cursor: pointer;
        margin-right: 0.5rem;
        padding-top: 0.25rem;
        font-size: 0.875rem;
        color: $darker-grey;

        &:hover {
            color: $red;
        }
    }
}