.homepage-banner {
    background-image: image-url('splash-search-banner.png');
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 100%;

}

.homepage-search-bar {
    padding-top: 4rem;
    padding-bottom: 2rem;
    height: 450px;
    line-height: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    div {
        width: 100%;
    }

    .homepage-search-header {
        h1 {
            color: $white;
            text-align: center;
            font-size: 3rem;
            margin: 0;
            line-height: 1;
        }
    }

    .homepage-search-form {
        margin-top: 2.5rem;

        button {
            border-radius: 4px;
        }

        .homepage-search-form-input {
            margin: 0 1.5rem;
            border-radius: 4px;

            input {
                padding-left: 10px;
                width: 100%;
                border: 0px;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }

        .homepage-search-selectors {
            display: inline-block;
            display: flex;
            min-width: 480px;

            .homepage-search-seats {
                order: 3;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            .homepage-search-calendar {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                display: block;

                .homepage-search-picker {
                    width: 135px;
                    height: 24px;
                    position: relative;

                    .homepage-search-picker-icon {
                        margin-top: 5px;
                        margin-right: 5px;
                        width: 25px;
                        float: right;
                        z-index: 1;
                        color: $font-grey;
                    }

                    input[type=date]::-webkit-inner-spin-button,
                    input[type="date"]::-webkit-calendar-picker-indicator {
                        -webkit-appearance: none;
                        // display: none;
                        opacity: 0;
                        cursor: pointer;
                    }

                    input[type='date'] {
                        padding-left: 10px;
                        width: 100%;
                        border: 0px;
                        cursor: pointer;
                        background-color: transparent;
                        position: absolute;
                        z-index: 10;

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }

            .homepage-search-calendar, .homepage-search-seats, .homepage-search-clock {
                border-right: 1px solid rgba(0,0,0,0.08);
                display: flex;
                align-items: center;
                width: 33.3%;
                background-color: #fff;

                svg {
                    padding-left: 10px;
                    width: 25px;
                    align-self: center;
                }

                .homepage-search-picker {
                    width: 135px;
                    height: 24px;
                    position: relative;

                    .homepage-search-picker-icon {
                        margin-top: 5px;
                        margin-right: 5px;
                        width: 25px;
                        float: right;
                        z-index: 1;
                        color: $font-grey;
                    }

                    select {
                        height: 24px;
                        padding-left: 10px;
                        width: 100%;
                        border: 0px;
                        cursor: pointer;
                        background-color: transparent;
                        position: absolute;
                        z-index: 10;

                        -webkit-appearance: none;
                        -moz-appearance: none;
                        text-indent: 1px;
                        text-overflow: '';

                        &:focus {
                            outline: none;
                        }

                    }
                }

            }
        }

    }

}

.index-search-bar {
    background: rgba(0,0,0,0.8);
    padding: 2rem;

    .index-search-seats {
        order: 1;
        width: 25%;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .index-search-calendar {
        order: 2;
        width: 23%;

        input[type=date]::-webkit-inner-spin-button,
        input[type="date"]::-webkit-calendar-picker-indicator {
            -webkit-appearance: none;
            // display: none;
            opacity: 0;
            cursor: pointer;
        }

        input[type=date] {
            width: 90%;
        }
    }

    .index-search-clock {
        order: 3;
        width: 25%;
    }

    .index-search-form-input {
        order: 4;
        border-right: none;
        width: 28%;

        input[type=text] {
            cursor: auto;
        }
    }

    .search-button {
        order: 5;
        width: 16%;
        border-radius: 0px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .index-search-seats, .index-search-calendar, .index-search-clock, .index-search-form-input {
        display: inline-block;
        display: flex;
        background: $white;

        svg {
            padding-left: 10px;
            width: 25px;
            align-self: center;
        }

        input, select {
            padding-left: 10px;
            width: 100%;
            border: 0px;
            border-right: 1px solid rgba(0,0,0,0.08);
            background-color: transparent;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';


            &:focus {
                outline: none;
            }

        }
    }
}


.homepage-search-form, .index-search-form {

    form {
        display: flex;
        // justify-content: center;
        
        .homepage-search-form-input, .index-search-form-input {
            display: inline-block;
            background: $white;
            width: 700px;
            display: flex;
            
            svg {
                padding-left: 10px;
                width: 25px;
                align-self: center;
            }

            input {
                padding-left: 10px;
                // width: 100%;
                border: 0px;

                &:focus {
                    outline: none;
                }
            }
        }

        button {
            width: 16%;
            max-width: 200px;
            font-size: 1rem !important;
            white-space: nowrap;
        }
    }

    
}