.signup-modal-container, .login-modal-container {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3000;
    overflow-y: auto;
    overflow-x: hidden;

    .form-close-x {
        font-family: icons;
        speak: none;
        text-transform: none;
        line-height: 1;
        position: absolute;
        right: 1rem;
        top: 1rem;
        cursor: pointer;
        text-decoration: none;
        font-size: 1.25rem;
    }
}


.signup-modal-content, .login-modal-content {
    background: #fff;
    padding: 1.875rem 1rem;
    width: 460px;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);


    .signup-form, .login-form, h2, hr, p, h3, ul {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    h2 {
        margin-top: 1.25rem;
    }

    hr {
        width: 375px;
        margin-bottom: 1rem;
    }

    span {
        a {
            color: $red;
        }
    }

    .signup-form, .login-form {
        margin-block-end: 1em;

        .signup-form-field, .login-form-field {
            padding: 1rem;
            font-size: 0.875rem;
            border: 1px solid rgba(0,0,0,0.12);
            border-radius: 3px;
            width: 100%;
            margin-bottom: 0.5rem;

            &:focus {
                border: 2px solid rgba(0,0,0,0.3);
                border-radius: 0;
                outline: none;
            }
        }

        button {
            margin-top: 0.5rem;
            // margin-bottom: 0.5rem;
        }

    }
    
}

